<h1>Add a new piece of furniture:</h1>

<%= form_for @furniture do |f| %>
<%= f.label :category, "Category" %>
<%= f.text_field :category %>
<%= f.label :style, "Style" %>
<%= f.text_field :style %>
<%= f.label :img_url, "Image URL" %>
<%= f.text_field :img_url %>
<%= f.submit %>
<% end %>