<h1 align="center">Rooms</h1>

<div class='header nav'>

<h3 align="right">Search by color scheme:

<%= form_tag(rooms_path, method: :get) do %>
  <%= select_tag(:search, options_for_select(@select_array), include_blank: true) %>
  <%= submit_tag ("Search") %>
<% end %>
</h3>
</div>

<div class="index_container">
  <% @rooms.each do |room| %>
      <div class="index_tile">
        <a href = "<%= room_path(room) %>">
        <img class="index_img" src="<%= room.img_url %>" alt="<%= room.title%>">
        <p><%= room.title %></p>
        </a>
        <p><%= room.blurb %></p>
      </div>
  <% end %>
</div>  
